.container {
    position: relative;
    /* width: 30%; */
}
.container i {
    position: absolute; 
    top: 2px; 
    left: 155px;
}

#show {
    display: block;
}

#hide{
    display: none;
}